.d_none{
    display: none !important;
}

.nav_btn{
    padding: 14px 24px;
    max-width: 205px;
    border-radius: 8px;
}
h2 {
    font-size: 16px !important;
}
h2  a{
    font-size: 13px;
}
p{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}

img{
    border-radius: 20px;
}
@media (min-width:576px) {
    h2  a{
        font-size: 16px;
    }
}
@media (max-width:576px) {
    .overflow_scroll{
        overflow-x: scroll;
    }
    
}